<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/alankara-page-banner.png?v=1701529623"
>
<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/alankara-page-logo.png?v=1701530437"
>
<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/alankara-product-blouse.png?v=1701538448"
>
<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/alankara-product-short-kurta.png?v=1701538448"
>
<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/alankara-product-long-kurta.png?v=1701538449"
>
<link
  rel="preload"
  as="image"
  href="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/alankara-product-shirt.png?v=1701538449"
>
<style>
  
  .alankara-content-page h4{
    marign-bottom: 0;
  }
  .alankara-content-page p {
    margin-top: 0;
    padding-top: 0;
    padding: 0 14px;
  }

  .alankara-content-page .alankara-content .service-lists {
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 14px;
  }
  .alankara-banner {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
  .alankara-logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 140px;
  }
  .alankara-intro-content {
    max-width: 768px;
    margin: 24px auto;
    text-align: center;
  }
  .our-service {
    padding: 40px 0;
    background: #f5f5f5;
  }
  .section-title {
    text-align: center;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .service-lists {
    display: grid;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
  }
  .service-title {
    /* margin-top: 18px; */
    /* font-size: 20px; */
    /* font-style: normal; */
    /* font-weight: 700; */
    /* line-height: 26px;  */
  }
  .let-start {
    max-width: 768px;
    margin: 40px auto;
    text-align: center;
  }
  .let-start ul {
    padding: 0;
    margin: 0;
    display: grid;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    grid-template-columns: 1fr;
  }
  .steps-svg svg {
    width: 80px;
    height: 80px;
  }
  .steps-svg svg path {
    color: #fff;
  }

  @media (min-width: 768px) {
    .alankara-logo {
      width: auto;
    }

    .alankara-intro-content {
      margin: 40px auto;
    }
    .service-lists {
      display: flex;
      /* grid-template-columns: 1fr 1fr 1fr 1fr; */
      {% comment %} grid-template-columns: 1fr 1fr 1fr; {% endcomment %}
    }
    .let-start ul {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .our-service {
      padding: 80px 0;
    }
    .service-title {
      /* margin-top: 24px; */
    }
    .service-list .service-image img {
    width: 100%;
}
  }
</style>
<div class="alankara-content-page">
  <img
    class="alankara-banner"
    src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/alankara-page-banner.png?v=1701529623"
    alt=""
  >
  <div class="alankara-content">
    <img
      class="alankara-logo"
      src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/alankara-page-logo.png?v=1701530437"
      alt=""
      style=""
    >
    <div class="alankara-intro-content">
      <p>
        Every woman undoubtedly wishes for a blouse that fits like a dream and looks stunning. And Alankara, an in-house
        tailoring and customisation unit of Sundari Silks offers the same bespoke blouses perfectly stitched & designed
        for a multitude of occasions.
      </p>
      <p>
        Be it a traditional Indian wedding trousseau, a contemporary gala or a milestone event, these blouses will make
        a perfect statement. From simple embroidered to luxuriant bridal blouses, each piece is designed to complement
        your saree.
      </p>
      <p>
        An entourage of passionate people get involved from the conceptualisation of the initial design right through to
        the final finish of the blouse. If you are looking for a blouse completely designed and customised as per your
        needs, you are just one call away!
      </p>
    </div>
    <div class="our-service">
      <h2 class="section-title">OUR SERVICES</h2>
      <div class="service-lists">
        {% comment %} <div class="service-list">
          <div class="service-image">
            <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/alankara-product-blouse.png?v=1701538448">
          </div>
          <h3 class="service-title">Blouse</h3>
        </div> {% endcomment %}
        <div class="service-list">
        <a href="https://www.sundarisilks.com/products/custom-long-kurta">
          <div class="service-image">
            <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/alankara-product-short-kurta.png?v=1701538448">
          </div>
          <h3 class="service-title">Short Kurta</h3>
          </a>
        </div>
        <div class="service-list">
          <a href="https://www.sundarisilks.com/products/custom-long-kurta">
          <div class="service-image">
            <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/alankara-product-long-kurta.png?v=1701538449">
          </div>
          <h3 class="service-title">Long Kurta</h3>
          </a>
        </div>
        {% comment %} <div class="service-list">
          <div class="service-image">
            <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/alankara-product-shirt.png?v=1701543871">
          </div>
          <h3 class="service-title">Shirt</h3>
        </div> {% endcomment %}
      </div>
    </div>
    <div class="let-start">
      <h2 class="section-title">LET’S GET STARTED</h2>
      <p>
        Our team is here to assist you with the best shopping experience. Here’s how you can get started with customising your clothing.
      </p>
      <ul>
        <li>
          <div class="steps-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="none" viewBox="0 0 100 100">
              <rect width="100" height="100" fill="#901A1D" rx="50"/>
              <path fill="#fff" d="M53.025 62.423c.082 1.85.4 3.568 1.082 5.21.052.125.264.252.407.26.575.03 1.154.041 1.728.006a2.376 2.376 0 0 1 2.592 2.338c-.018 1.39-1.051 2.354-2.577 2.354H39.434c-.39 0-.78.012-1.168-.006-1.251-.058-2.257-1.128-2.238-2.367a2.339 2.339 0 0 1 2.291-2.309c.67-.014 1.34.01 2.01-.014.145-.006.369-.118.417-.238.652-1.651.966-3.37.998-5.206-.205-.009-.383-.025-.562-.025-3.35 0-6.7-.053-10.046.018-2.191.046-3.759-1.64-3.744-3.743.049-7.212.018-14.425.018-21.64 0-2.312 1.418-3.736 3.717-3.736h21.618c.008-.2.023-.367.023-.531l.001-3.692c.002-.721.17-1.39.653-1.949.419-.485.942-.747 1.593-.747 5.437.002 10.873-.001 16.31.003 1.229 0 2.227.985 2.246 2.34.041 2.804.041 5.609.001 8.413-.02 1.446-1.03 2.354-2.461 2.358-1.169.003-2.336.006-3.505.012-.027 0-.056.022-.155.064v19.16c0 1.728-.854 3.019-2.345 3.488-.422.133-.885.175-1.332.177-3.38.014-6.76.007-10.14.007h-.61v-.005ZM28.722 55.56h37.394V39.555c-.117-.013-.207-.034-.296-.034-1.777-.001-3.552-.01-5.329.01-.183.002-.41.135-.54.276-1.02 1.116-2.008 2.26-3.042 3.362-.165.176-.521.27-.771.242-.333-.037-.43-.356-.426-.683.005-.374 0-.748 0-1.122V39.52h-.571c-1.093-.012-1.873-.56-2.196-1.608-.117-.38-.151-.794-.166-1.194-.026-.68-.007-1.361-.007-2.083H31.135c-1.582 0-2.413.833-2.413 2.424v18.5Zm28.3-14.62.105.043c.683-.763 1.381-1.512 2.042-2.292.301-.354.632-.491 1.093-.488 3.63.013 7.258.008 10.888.007.622 0 .91-.215 1.066-.82a2.73 2.73 0 0 0 .068-.645c.004-1.9.002-3.802.002-5.701 0-.686.01-1.37-.002-2.057-.018-.903-.398-1.271-1.282-1.271H55.255c-.676 0-.994.259-1.118.93-.039.213-.05.433-.05.65-.003 2.446-.005 4.892 0 7.338 0 .247.014.501.067.74.129.59.445.83 1.053.836.312.003.623-.003.935 0 .654.007.874.22.881.868.006.62 0 1.24 0 1.86l-.001.002ZM28.744 56.92c0 .82-.068 1.62.016 2.4.118 1.103 1.04 1.795 2.253 1.795H63.87c.094 0 .186 0 .28-.006.934-.05 1.807-.705 1.921-1.618.104-.836.022-1.697.022-2.57h-37.35Zm22.818 5.515c.055.013.01-.006-.035-.006-2.71-.003-5.418 0-8.128-.01-.32 0-.33.168-.358.406-.12 1.034-.227 2.071-.403 3.097-.114.662-.338 1.304-.511 1.947H52.61l-1.05-5.432.002-.002Zm-4.097 6.78c-3.006 0-6.013-.003-9.019.003-.647 0-1.1.436-1.105 1.02-.004.58.455 1.02 1.092 1.044.108.005.218 0 .327 0h17.336c.172 0 .345.01.513-.011.597-.078.995-.618.898-1.206-.087-.53-.517-.848-1.166-.85-2.96-.003-5.919 0-8.879 0h.003Z"/>
              <path fill="#fff" d="M47.455 53.888c-1.626.03-3.231-.121-4.762-.73-.015-.005-.03-.006-.045-.012-1.83-.74-2.39-1.76-2.032-3.7a6.93 6.93 0 0 1 7.033-5.677 6.928 6.928 0 0 1 6.67 6.096c.184 1.53-.283 2.404-1.678 3.092-1.22.6-2.54.819-3.88.925-.433.035-.871.006-1.307.006h.001Zm-.037-1.233c.728-.058 1.46-.083 2.182-.184.987-.138 1.959-.35 2.82-.9.423-.27.645-.618.627-1.157-.096-2.653-2.27-5.025-4.894-5.306-2.885-.31-5.488 1.469-6.165 4.212-.409 1.65-.129 2.176 1.476 2.73 1.28.443 2.607.563 3.954.605Zm.036-16.357a3.526 3.526 0 0 1 3.527 3.536c0 1.971-1.605 3.578-3.562 3.563-1.94-.014-3.536-1.616-3.539-3.552-.003-1.961 1.602-3.554 3.575-3.549l-.001.002Zm-.02 1.308a2.242 2.242 0 0 0-2.247 2.212c-.013 1.228 1.02 2.27 2.25 2.27 1.239 0 2.244-1.025 2.235-2.275a2.215 2.215 0 0 0-2.237-2.208l-.002.001Zm11.21-5.576a.935.935 0 0 1 .929.908.917.917 0 0 1-.923.952.934.934 0 0 1-.938-.946.958.958 0 0 1 .932-.915Zm3.628.917a.933.933 0 0 1 .928-.919.959.959 0 0 1 .93.929.938.938 0 0 1-.964.931.908.908 0 0 1-.892-.941h-.002Zm6.389-.005a.91.91 0 0 1-.887.948.93.93 0 0 1-.963-.929.946.946 0 0 1 .92-.933c.505-.006.92.4.93.914ZM47.425 58.366c.498 0 .997-.004 1.495 0 .404.003.648.208.686.612.036.376-.241.678-.665.685-1.012.018-2.025.02-3.037-.003-.39-.008-.646-.247-.637-.66.008-.41.258-.622.66-.631.498-.012.997-.003 1.495-.003h.003Z"/>
            </svg>
          </div>
          <h4>BOOK A VIRTUAL MEETING</h4>
        </li>
        <li>
          <div class="steps-svg">
            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="100" height="100" rx="50" fill="#901A1D"/><path d="M62.8019 62.4817C60.6742 61.6338 59.7556 60.1041 59.7859 57.8985C59.8278 54.7929 59.8133 51.6859 59.7888 48.5789C59.7772 47.0767 60.2496 45.8258 61.4311 44.8609C61.5553 44.7598 61.6434 44.5258 61.6348 44.3611C61.2794 37.5824 55.6114 31.4695 48.2159 32.3332C43.3264 32.9052 40.0707 35.7999 38.2666 40.295C37.7653 41.5445 37.6339 42.9456 37.3724 44.286C37.3363 44.4752 37.4764 44.7771 37.6339 44.9129C38.671 45.8056 39.1968 46.925 39.1982 48.2857C39.204 51.6455 39.2098 55.0038 39.1968 58.3636C39.1881 60.5432 37.7393 62.2159 35.5886 62.5814C33.6501 62.9107 31.7319 61.7205 30.9938 59.7589C30.9288 59.5856 30.7179 59.392 30.5417 59.3487C28.3721 58.8099 27.1631 57.3048 27.1501 55.0688C27.1429 53.8945 27.1458 52.7216 27.1501 51.5472C27.1588 49.2304 28.3403 47.7484 30.5836 47.1966C30.7511 47.1561 30.9504 46.9785 31.0126 46.8181C31.3058 46.0569 31.7738 45.4387 32.3747 44.8941C32.5466 44.7396 32.6737 44.4565 32.691 44.2225C33.1186 38.319 35.6203 33.548 40.5257 30.1796C47.3507 25.4938 56.5937 26.8819 62.0074 33.3227C64.6652 36.486 66.0562 40.1448 66.3061 44.2586C66.3191 44.4752 66.4433 44.741 66.6051 44.884C67.2132 45.4214 67.6769 46.0425 67.9759 46.8022C68.0438 46.9756 68.2633 47.1648 68.4453 47.2067C70.5759 47.7036 71.8239 49.2289 71.8456 51.4201C71.8571 52.6479 71.8557 53.8757 71.8456 55.1049C71.8282 57.3034 70.6004 58.8258 68.4713 59.3458C68.2922 59.3891 68.0727 59.574 68.0077 59.743C67.4602 61.1802 66.4664 62.1061 64.9859 62.525C64.8256 62.5698 64.6132 62.7056 64.5684 62.8442C63.4793 66.2864 61.0382 68.4704 57.9153 70.0116C55.6346 71.1368 53.1978 71.6799 50.67 71.833C50.3638 71.8518 50.1991 71.9442 50.0503 72.223C49.5766 73.1085 48.8038 73.5562 47.8057 73.5837C47.03 73.6054 46.2529 73.601 45.4772 73.5851C43.9981 73.5562 42.8729 72.405 42.8844 70.9505C42.8946 69.5234 44.0212 68.4039 45.4816 68.3808C46.2211 68.3692 46.9621 68.3794 47.7031 68.3779C48.7518 68.3765 49.5274 68.8358 50.0749 69.7299C50.1659 69.8787 50.3912 70.0506 50.5443 70.0419C54.0153 69.8469 57.2148 68.8734 59.9347 66.6244C61.265 65.5251 62.2761 64.1847 62.8019 62.486V62.4817ZM32.5913 53.2647C32.5913 54.998 32.587 56.7328 32.5928 58.4661C32.5986 59.8961 33.8133 60.9795 35.2303 60.8336C36.5462 60.6978 37.4187 59.6997 37.4244 58.2639C37.4374 54.959 37.4288 51.6541 37.4259 48.3492C37.4259 48.1875 37.4086 48.0242 37.3854 47.8639C37.2121 46.6231 36.11 45.6987 34.8923 45.7695C33.5822 45.846 32.5971 46.8701 32.5928 48.173C32.587 49.8702 32.5928 51.5689 32.5913 53.2661V53.2647ZM66.4058 53.3152C66.4058 51.5631 66.4173 49.8125 66.4014 48.0604C66.3884 46.7185 65.1072 45.6221 63.7769 45.7825C62.4292 45.9442 61.5756 46.9424 61.5727 48.4056C61.564 51.6744 61.5698 54.9431 61.5712 58.2105C61.5712 58.3722 61.5799 58.5355 61.6001 58.6958C61.7691 60.0521 62.8423 60.9116 64.2564 60.8278C65.4582 60.757 66.4043 59.6954 66.4058 58.4069C66.4087 56.7097 66.4058 55.0125 66.4058 53.3138V53.3152ZM35.5496 43.9784C36.0363 36.6088 42.1276 30.4844 49.4206 30.4641C52.5637 30.4555 55.3861 31.442 57.8359 33.4079C61.2087 36.1148 62.9796 39.6941 63.4216 43.9711H64.5294C63.8881 38.1861 61.3459 33.6087 56.1589 30.8874C50.93 28.1429 45.7372 28.6022 40.9576 32.0602C36.9463 34.9621 34.9458 39.0557 34.4864 43.9784H35.5481H35.5496ZM68.2604 57.5099C69.2716 57.3308 70.0487 56.4482 70.0732 55.375C70.105 53.9696 70.1064 52.5627 70.0732 51.1572C70.0472 50.0855 69.2643 49.2058 68.2619 49.0325V57.5085L68.2604 57.5099ZM30.7338 49.0108C29.6447 49.3026 28.9427 50.136 28.9239 51.2006C28.8993 52.5887 28.8964 53.9768 28.9239 55.3649C28.9456 56.4338 29.6981 57.3019 30.7323 57.5171V49.0122L30.7338 49.0108ZM46.6631 70.1401C46.2847 70.1401 45.9062 70.1242 45.5292 70.1445C45.0078 70.1719 44.6496 70.5301 44.6553 70.9866C44.6611 71.4242 44.9977 71.7854 45.496 71.8027C46.2514 71.8301 47.0083 71.8301 47.7623 71.8027C48.2722 71.7854 48.5929 71.443 48.6016 70.9924C48.6117 70.5215 48.2708 70.1719 47.7421 70.143C47.3839 70.1228 47.0228 70.1387 46.6631 70.1387V70.1401Z" fill="white"/>
            </svg>
          </div>
          <h4>YOU GET A CALL</h4>
        </li>
        <li>
          <div class="steps-svg">
            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="100" height="100" rx="50" fill="#901A1D"/><path d="M45.9731 64.0114C45.0617 66.8468 43.3977 68.2869 41.0692 68.2595C39.203 68.2378 36.9049 67.075 36.213 63.9825H35.6815C33.0107 63.9825 30.3385 63.9825 27.6677 63.9825C26.8501 63.9825 26.6075 63.7283 26.6075 62.8717C26.6075 53.1997 26.6075 43.5277 26.6075 33.8572C26.6075 33.0194 26.8718 32.7406 27.6763 32.7406C38.4447 32.7406 49.2116 32.7406 59.9799 32.7406C60.7541 32.7406 61.0343 33.0295 61.0358 33.8268C61.0387 36.3344 61.0358 38.8434 61.0358 41.3509V41.9735H61.615C63.8221 41.9735 66.0278 41.9879 68.2349 41.9634C68.8141 41.9576 69.1825 42.1497 69.4829 42.6798C71.0068 45.3752 72.5697 48.0474 74.0964 50.7413C74.2698 51.0489 74.3781 51.4447 74.3796 51.8C74.3998 55.4935 74.3926 59.1869 74.3911 62.8804C74.3911 63.7254 74.1398 64.0302 73.3222 63.968C72.3328 63.8929 71.7232 64.0099 71.3376 65.2319C70.7107 67.2152 68.5816 68.4112 66.6345 68.2422C64.4302 68.0515 62.6969 66.5753 62.1639 64.4057C62.0917 64.1096 62.0137 63.9738 61.6887 63.9738C56.545 63.9839 51.4028 63.981 46.2591 63.9825C46.1609 63.9825 46.0641 64.0013 45.9731 64.0099V64.0114ZM59.4166 34.4075H33.6665V62.3084H36.2303C36.8905 59.3343 39.073 58.2235 40.6995 58.0978C41.7366 58.0169 42.7101 58.2423 43.6042 58.8027C44.8941 59.6102 45.6366 60.822 45.9471 62.2925H59.4151V34.4075H59.4166ZM72.7748 62.3012C72.7849 62.1986 72.7964 62.1336 72.7964 62.0672C72.7964 58.7002 72.8008 55.3332 72.7892 51.9676C72.7892 51.761 72.7026 51.5343 72.5986 51.3508C71.1974 48.8996 69.7819 46.457 68.3851 44.0029C68.219 43.7112 68.0356 43.6144 67.7149 43.6158C65.658 43.6303 63.6011 43.623 61.5442 43.6245C61.3853 43.6245 61.2279 43.6433 61.0647 43.6534V62.278C61.6819 62.3743 62.0787 62.1413 62.2549 61.5789C62.9078 59.5004 64.8087 58.0805 66.9334 58.0863C69.051 58.0906 70.9461 59.5264 71.5889 61.6136C71.742 62.1115 72.0742 62.3507 72.5856 62.3315C72.6347 62.33 72.6823 62.317 72.7748 62.304V62.3012ZM31.9996 62.3084V34.4277H28.2397V62.3329C29.4241 62.3329 30.5681 62.3329 31.7121 62.3329C31.793 62.3329 31.8725 62.3199 31.9981 62.3098L31.9996 62.3084ZM41.1025 59.7344C39.2723 59.7315 37.773 61.2698 37.7687 63.1577C37.7643 65.0384 39.2666 66.6027 41.0851 66.6114C42.8979 66.62 44.4146 65.0572 44.4189 63.1765C44.4232 61.2857 42.9326 59.7373 41.1039 59.7344H41.1025ZM70.2253 63.188C70.234 61.2814 68.7664 59.7402 66.9349 59.7344C65.0947 59.7286 63.6141 61.2453 63.604 63.1476C63.5939 65.0456 65.0629 66.5926 66.8959 66.6099C68.7173 66.6287 70.2167 65.0875 70.2253 63.188Z" fill="white"/>
            </svg>
          </div>
          <h4>DELIVERY</h4>
        </li>
      </ul>
    </div>
    <div
      style="min-width: 320px; height: 700px;"
      data-url="https://calendly.com/sundarisilks/30min"
      class="calendly-inline-widget"
    ></div>
    <script async="" src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
  </div>
</div>
